body{
    margin: 0%;
    padding: 0%;
    line-height: 0.5;
  background: url(https://cdn.pixabay.com/photo/2021/01/22/20/16/heron-5941013_960_720.jpg);
  background-size: cover;
    background-attachment: fixed;
  background-repeat: no-repeat;

}
.calci{


      width: 500px;
      padding-top: 100px;
      padding-bottom: 100px;
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%,-50%);
      transition: 0.25px;
      text-align: center;
}
#display{
    border: none;
    background: white;
    border-radius: 30px;
    width: 245;
    font-size: 20;
    font-family: sans-serif;
    font-weight: 300;
    height: 60;
    margin: auto;
    border: 2px solid white;
    color: black;
}
.btnDesign{
    width: 55;
    height: 55;
    padding-top: -1;
    background-color: white;
    border: none;
    font-family: sans-serif;
    font-size: 20;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5;
}
.operatorDesign{
    width: 55;
    height: 55;
    background-color: white;
    padding-top: -1;
    border: none;
    font-family: sans-serif;
    font-size: 20;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5;
    transition: 0.25px;
    cursor: pointer;
}
.operatorDesign:hover{

    background: #9edbe6;
}
#zero{
    width: 116;
    height: 55;
    padding-top: -1;
    border: none;
    font-family: sans-serif;
    font-size: 20;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5;
    background-color: white;
   
}
h1{

    color: rgb(249, 249, 250);
    margin-top: 300px;
    margin-left: 100px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700px;
    font-size: 40;
    text-decoration: underline;

}
h2{
    color: rgb(249, 249, 250);
    margin-top: -1px;
    margin-left: 290px;
    font-family: sans-serif;
    font-weight: 500px;
    font-size: 30;
    
}
